@using BlogMusic.Models
@model Sanatci
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <h3 class="card-header">Sanatçı Ekleme Formu</h3>
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label for="SanatciAdi">Sanatçı Adı</label>
                    <input id="SanatciAdi" type="text" name="SanatciAdi" class="form-control parsley-error" maxlength="50" required>
                </div>
                <div class="form-group">
                    <label for="ResimUrl">Sanatçı Fotoğrafı URL</label>
                    <input id="ResimUrl" type="url" name="ResimUrl" class="form-control parsley-error" maxlength="250" required>
                </div>

                <div class="form-group">
                    <label for="SanatciHakkinda">Sanatçı Hakkında</label>
                    <textarea class="form-control" rows="5" name="SanatciHakkinda" required></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                    </div>
                    <div class="col-sm-6 pl-0">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Ekle</button>
                            <button type="reset" class="btn btn-space btn-secondary" onclick="location.href='/Admin/TumSanatcilar/'">İptal</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

