
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Concept - Bootstrap 4 Admin Dashboard Template</title>
    <link rel="stylesheet" href="~/template/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/template/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/template/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/template/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/template/images/favicon.ico" />

</head>

<body>
          <div class="bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="error-section">
                            <img src="~template/assets/images/error-img.png" alt="" class="img-fluid">
                            <div class="error-section-content">
                                <h1 class="display-3">Sayfa Bulunamadı</h1>
                                <p>Aradığınız sayfa kaldırılmış ya da böyle bir sayfa yok.</p>
                                <a href="/Home/Index/" class="btn btn-secondary btn-lg">Şarkı Evreni'ne Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="bg-white p-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-dark text-center">
                            Copyright © 2021 Tarık A. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/">Colorlib</a>.
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
  
    <script src="~/template/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/template/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/template/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/template/assets/libs/js/main-js.js"></script>
</body>

</html>